/* reausable code */
body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #F2F2F2;
}

.btn {
  padding: 15px 30px;
  border-radius: 20px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.btn-main {
  font-weight: 600;
  letter-spacing: 1.2px;
  text-transform: capitalize;
  padding-right: 20px;
  cursor: pointer;
  /* color: #FF7B86; */
  color: hsl(356, 100%, 66%);
}

.btn-main:hover {
  background-color: hsl(355, 100%, 74%);
  color: white;
}

/* ---------------------- */

.header {
  background: linear-gradient(hsl(353, 100%, 62%), hsl(13, 100%, 72%));
  padding: 20px;
  position: relative;
  overflow: hidden;
}

.container {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.header__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.header__left-column {
  display: flex;
  align-items: center;
}

.header__navbar__list {
  display: flex;
  align-items: center;
  padding-left: 50px;

}

/* .header__navbar__list-item {
  position: relative;
} */

.header__navbar__list-item a {
  padding-left: 20px;
  color: white;
  text-transform: capitalize;
  font-size: 1.2rem;
}

.header__navbar__sub-list {
  display: none;
  overflow: hidden;
  position: absolute;
  background-color: white;
  margin: 10px;
  padding: 25px;
  border-radius: 10px;
}

.header__navbar__list-item:hover .header__navbar__sub-list {
  display: block;
  z-index: 99;
}

.header__navbar__sub-list a {
  text-align: center;
  line-height: 2;
  color: hsl(240, 2%, 79%);

}

.header__navbar__sub-list a:hover {
  color: #2D2E40;

}

.header__right-column {
  z-index: 10;
}

.header__right-column .btn-login {
  border: none;
  background: transparent;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  margin-right: 20px;
  letter-spacing: 1.2px;
}

.hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 70vh;
  color: #fff;
}

.hero .hero__title {
  font-size: 4.375rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  z-index: 10;
}

.hero .hero__info {
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 1.2px;
  line-height: 5;
  z-index: 10;
}

.hero__btn {
  margin-top: 20px;
  z-index: 10;

}

.btn-hot {
  background: transparent;
  border: 1px solid #fff;
  color: white;
  margin-left: 20px;
}

.btn-hot:hover {
  background-color: #fff;
  color: hsl(356, 100%, 66%);
}

.shapes .circle {
  /* background: linear-gradient(hsl(13, 100%, 72%), hsl(353, 100%, 62%)); */
  background: hsl(353, 100%, 62%);
  padding: 500px;
  border-radius: 50%;
  position: absolute;
  top: 120px;
  left: 192px;
  opacity: 0.1;
}

.shapes .square1 {
  position: absolute;
  right: -250px;
  background: hsl(353, 100%, 62%);
  width: 800px;
  height: 800px;
  transform: rotate(25deg);
  opacity: 0.1;
  border-radius: 20%;
}

.shapes .square2 {
  position: absolute;
  bottom: 500px;
  right: -240px;
  background: hsl(13, 100%, 72%);
  width: 500px;
  height: 500px;
  transform: rotate(12deg);
  opacity: 0.1;
  border-radius: 20%;
}

/* description section */

.description {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  color: #1F3E5A;
  position: relative;
  overflow: hidden;
  padding-bottom: 220px;
}

.description__sub-title {
  grid-row: 1;
  grid-column: 1/4;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 7;

}

.description__left-column {
  width: 50%;
  margin: 0 auto;
}

.description__intro {
  width: 580px;
  height: 300px;
}

.description__intro h3 {
  font-size: 30px;
  font-weight: 600;
  line-height: 4;
}

.description__intro .description__intro--info {
  letter-spacing: 1.2px;
  line-height: 1.5;
  color: #4C5862;
}

.description__right-column {
  position: relative;
}


.description__right-column img {
  position: absolute;
  top: -225px;
  left: 149px;
  width: 1100px;
  height: 972px;
}

.description__left-column,
.description__right-column {
  grid-row: 2;
}

/* services */

.services {
  display: flex;
  flex-direction: row;
  background: url('/images/bg-pattern-circles.svg'), linear-gradient(264deg, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
  background-repeat: no-repeat;
  background-position: 0% 83%;
  width: 100%;
  border-top-right-radius: 130px;
  border-bottom-left-radius: 130px;
}

.services__left-column,
.services__right-column {
  width: 50%;
}

.services__left-column {
  position: relative;
}

.services__left-column img {
  position: absolute;
  top: -78px;
  left: 200px;
  height: 660px;
}

.services__right-column {
  color: #fff;
  margin: 150px auto;
}

.services__sub-title {
  font-size: 2.5rem;
  font-weight: 900;
}

.services__right-column p {
  padding-top: 20px;
  width: 600px;
  line-height: 1.5;
  letter-spacing: 1.2px;
}

/* features */

.features {
  display: flex;
  flex-direction: row;
  padding-top: 150px;
  width: 100%;
  padding-bottom: 120px;
}

.features__left-column {
  position: relative;
  width: 50%;
}

.features__left-column img {
  position: absolute;
  right: 27%;

}

.features__right-column {
  width: 50%;
  margin: 140px;
  line-height: 4;
  padding: 20px;
}

.features__right-column__info {
  width: 79%;
  padding: 20px;
}

.features__right-column__info__sub-title {
  font-size: 30px;
}

.features__right-column p {
  letter-spacing: 1.2px;
  line-height: 2;
  color: #4C5862;
}