/* reausable code */
body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #F2F2F2;
}

.btn {
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  width: 140px;
  height: 45px;
  border: none;
  letter-spacing: 1.2px;
  text-transform: capitalize;
  outline: none;
}


.btn-main {
  color: hsl(356, 100%, 66%);
  box-shadow: inset 0 0 0 0 hsl(355, 100%, 74%);
  transition: ease-out 0.3s;
  position: relative;
  z-index: 1;
}

.btn-main:hover {
  box-shadow: inset 140px 0 0 0 hsl(355, 100%, 74%);
  /* background-color: hsl(355, 100%, 74%); */
  color: white;
}


/* ---------------------- */


.header {
  background: linear-gradient(hsl(353, 100%, 62%), hsl(13, 100%, 72%));
  position: relative;
  overflow: hidden;
  z-index: 10;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.header__overlay {
  position: absolute;
  top: -1292px;
  left: -142px;
  opacity: 0.3;
}

.header__overlay-circle {
  transform: scale(1.2);
}

.header__navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  padding: 20px;
  width: 100%;
  height: 10%;
  z-index: 99;
  background-color: transparent;
  transition: background-color 250ms ease-in;
}

.header__navbar-scrolling-active {
  background-color: hsl(353, 100%, 62%);
  color: #24242C;
}

.header__logo-box {
  padding: 0 40px;
  width: 0%;
}

.header__left-column {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.header__navbar-hamburger-menu {
  display: none;
  padding: 40px;
  cursor: pointer;
}

.header__navbar-hamburger-menu img {
  width: 3.2rem;
}

.header__navbar__list {
  display: flex;
  align-items: center;
}

.header__navbar__list-item a {
  padding-left: 20px;
  color: white;
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: 500;
}

.header__navbar__sub-list {
  display: none;
  overflow: hidden;
  position: absolute;
  background-color: white;
  padding: 25px;
  margin: 3px;
  border-radius: 10px;
}

.header__navbar__list-item:hover .header__navbar__sub-list {
  display: block;
  z-index: 10;
}

.header__navbar__sub-list a {
  text-align: center;
  line-height: 2;
  color: hsl(240, 2%, 79%);

}

.header__navbar__sub-list a:hover {
  color: #2D2E40;

}

.header__right-column {
  z-index: 10;
}

.header__right-column .btn-login {
  border: none;
  background: transparent;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  margin-right: 20px;
  letter-spacing: 1.2px;
}



.hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 70vh;
  color: #fff;
}

.hero .hero__title {
  font-size: 4.375rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  z-index: 10;
}

.hero .hero__info {
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 1.2px;
  line-height: 5;
  z-index: 10;
}

.hero__btn {
  margin-top: 20px;
  z-index: 10;

}

.btn-hot {
  background: transparent;
  color: white;
  border: 1px solid #fff;
  margin-left: 20px;
  transition: ease-out 0.4s;
  position: relative;
  z-index: 1;
}

.btn-hot:hover {
  background-color: #fff;
  color: hsl(356, 100%, 66%);
}

/* description section */

.description {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  color: #1F3E5A;
  position: relative;
  overflow: hidden;
  padding-bottom: 220px;
}

.description__sub-title {
  grid-row: 1;
  grid-column: 1/4;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 7;
}

.description__left-column {
  width: 50%;
  margin: 0 auto;
}

.description__intro {
  width: 580px;
  height: 300px;
}

.description__intro h3 {
  font-size: 30px;
  font-weight: 600;
  line-height: 4;
}

.description__intro .description__intro--info {
  letter-spacing: 1.2px;
  line-height: 1.5;
  color: #4C5862;
}

.description__right-column {
  position: relative;
}


.description__right-column img {
  position: absolute;
  top: -225px;
  left: 149px;
  width: 1100px;
  height: 972px;
}

.description__left-column,
.description__right-column {
  grid-row: 2;
}

/* services */

.services {
  display: flex;
  flex-direction: row;
  background: url('/images/bg-pattern-circles.svg'), linear-gradient(264deg, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
  background-repeat: no-repeat;
  background-position: 0% 83%;
  border-top-right-radius: 130px;
  border-bottom-left-radius: 130px;
  width: 100%;
  height: 410px;
}

.services__left-column,
.services__right-column {
  width: 50%;
}

.services__left-column {
  position: relative;
}

.services__left-column img {
  position: absolute;
  top: -4rem;
  left: 12.5rem;
  /* height: 660px; */
}

.services__right-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}

.services__sub-title {
  font-size: 2.5rem;
  font-weight: 900;
}

.services__right-column p {
  padding-top: 20px;
  width: 68%;
  line-height: 1.5;
  letter-spacing: 1.2px;
}

/* features */

.features {
  display: flex;
  flex-direction: row;
  padding-top: 150px;
  width: 100%;
  padding-bottom: 120px;
}

.features__left-column {
  position: relative;
  width: 50%;
}

.features__left-column img {
  position: absolute;
  right: 27%;

}

.features__right-column {
  width: 50%;
  margin: 140px 0;
  line-height: 4;
  padding: 20px;
}

.features__right-column__info {
  width: 79%;
  padding: 20px;
}

.features__right-column__info__sub-title {
  font-size: 30px;
}

.features__right-column p {
  letter-spacing: 1.2px;
  line-height: 2;
  color: #4C5862;
}

/* FOOTER */

.footer {
  background-color: #24242C;
  padding: 30px;
  width: 100%;
}

.footer__links {
  display: flex;
  justify-content: space-around;
  width: 80%;
  padding: 40px;
  height: 175%;
}

.footer__logo-box {
  width: 20%;
  text-align: center;
  height: 175px;
}


.footer__links__list-item {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  line-height: 4;
  text-transform: capitalize;
}

.footer__links__list {
  padding-right: 100px;
}

.footer__links__sub-list li {
  padding: 10px 0;
}

.footer__links__sub-list li a {
  color: #979797;
  text-transform: capitalize;

}

.footer__links__sub-list li a:hover {
  text-decoration: underline;
}

.footer__attribution {
  text-align: center;
  font-size: 12px;
  color: #979797;
  letter-spacing: 1.2px;
}

/* mobile friendly */

@media (min-width: 64rem) and (max-width: 90rem) {

  .header__overlay {
    top: -74.75rem;
    left: -50rem;
  }

  .header__overlay-circle {
    text-transform: none;
  }

  .services__left-column img {
    top: -2rem;
    left: -0.5rem;
    height: 518px;
  }

  .features__left-column img {
    right: 0;
  }

  .features__right-column__info {
    padding: 0;
  }

  .footer__links {
    width: 100%;
  }
}

@media screen and (max-width: 52.3125rem) {

  .header__navbar {
    justify-content: space-between;
  }

  .header__left-column {
    flex-direction: column;
    height: 55vh;
    background: white;
    position: absolute;
    top: 100px;
    border-radius: 5px;
    justify-content: center;
    width: 95%;
  }

  .header__navbar__list {
    flex-direction: column;
  }

  .header__navbar__list-item {
    padding: 40px;
  }

  .header__navbar__list-item a {
    color: #24242C;
  }

  .header__right-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    border-top: 1px solid rgba(76, 88, 98, 0.2);
    padding-top: 15px;
  }

  .header__right-column .btn-login {
    color: #24242C;
    padding: 25px;
    margin: 0;
  }

  .btn-main {
    background-color: hsl(356, 100%, 66%);
    color: #fff;
  }

  .header__navbar-hamburger-menu {
    display: block;
  }
}